/*
    *Update : 2023.10.26
    *Author: 이현종
*/

@charset "utf-8";

.Login{
  width: 400px;
  height: 350px;
  padding: 40px;
  box-sizing: border-box;
  margin: 0 auto;

}

.LoginTitle{
  font-size: 24px;
  text-align: center;
  color: #00A4DC;
  margin-bottom: 20px;
  font-weight: bold;
}

.userId, .userPW {
  width: 100%;
  height: 48px;
  padding: 0 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #F8F8F8;
}

input::placeholder{
  color: #D2D2D2;
}

.LoginBtn, .joinBtn {
  color: #fff;
  width: 49%;
  height: 48px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  background-color: #00A4DC; /* 추가된 부분 */
}

.GoogleBtn, .KakaoBtn {
  color: #fff;
  width: 49%;
  height: 48px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  background-color: #00A4DC; /* 추가된 부분 */
}

