.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background-color: #f2f2f2;
  }
  /* form */
  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-title {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
  }
  
  .welcome{
    color: #00A4DC;
    font-size: 2rem;
    text-align: center;
  }
  
  .signup-subtitle{
    text-align: center;
    color: #00A4DC;
  }
  
  /* label */
  label {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #666666;
  }
  
  .SignUptxt {
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 1rem;
    color: #333333;
  }
  
  #username, #useremail, #password, #password2{
    border:#00A4DC 1px solid;
  }
  /* button */
  .btn-signup {
    color: #fff;
    width: 120px;
    height: 50px;
    font-size: 16px;
    border-radius: 6px;
    border-color: #00A4DC;
    background-color: #00A4DC;
  }
  
  .btn-signup:hover {
    background-color: #00A4DC;
  }