.todo-app {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .todo-title{
    color: #00A4DC;
  }

  .todo-form {
    display: flex;
    gap: 0.5rem;
  }
  
  .todo-input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .todo-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #00A4DC;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .todo-button:hover {
    background-color: #00A4DC;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }
  
  .todo-item {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .todo-item.completed {
    text-decoration: line-through;
    color: #d9534f;
  }
  
  .todo-checkbox {
    margin-right: 0.5rem;
  }
  
  .todo-delete-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #d9534f;
  }
  